.container{
    height: 100px;
    padding: 0px 50px;
    background-color: #61dafb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item{
    flex: 1;
    display: flex;
    align-items: center;
}
.item:nth-child(2){
    flex: 2;
}
.item:last-child{
    flex: 3;
}
.logo img{
    border-radius: 50%;
}
.texts{
    margin-left: 20px;
    color: black;
}
.text:first-child{
    font-size: 32px;
    font-weight: 500;
}
.text:last-child{
    font-size: 24px;
    font-weight: 300;
}

.searchBar{
    width: 100%;
    height: 32px;
    background-color: #fff;
}

.list{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-left: 16px;
}
.listItem{
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.brandLogo{
    border-radius: 50%;
    cursor: pointer;
}
.brandName{
    margin-left: 20px;
    font-size: 32px;
    font-weight: 300;
}