.container{
    height: 100px;
    padding: 0px 50px;
    background-color: #61dafb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.item{
    flex: 2;
    display: flex;
    align-items: center;
}
.item:nth-child(2){
    flex: 3;
}
.item:nth-child(3){
    flex: 5;
}
.item:nth-child(4){
    flex: 1;
}
.logo img{
    border-radius: 50%;
}
.texts{
    margin-left: 20px;
    color: black;
}
.text:first-child{
    font-size: 32px;
    font-weight: 500;
}
.text:last-child{
    font-size: 24px;
    font-weight: 300;
}

.searchBar{
    width: 100%;
    height: 32px;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
}
.searchFieldControl{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 8px;
}
.searchBtn{
    font-size: 20px;
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    width: 36px;
    height: 32px;
    border-radius: 3px;
}
.searchBtn:hover{
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}
.list{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-left: 32px;
}
.listItem{
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all ease-in-out .15s;
}
.listItem:hover{
    color: white;
}
.brandLogo{
    border-radius: 50%;
    cursor: pointer;
}
.brandName{
    margin-left: 20px;
    font-size: 32px;
    font-weight: 600;
}
.cart{
    cursor: pointer;
    display: flex;
    margin-left: 16px;
    position: relative;
}
.itemCounter{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 0 4px;
    border-radius: 50%;
}
.shoppingCart{
    font-size: 21px;
    margin-left: 4px;
}